*.class

# Package Files #
*.jar
*.war
*.ear

sahi/junittestrun.out
sahi/classes/
sahi/deploy/
sahi/lib/
sahi/temp/
sahi/userdata/
sahi/config/version.txt
sahi/docs/java_client/
temp

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

