*.class

# Package Files #
*.jar
*.war
*.ear

sahi-core/junittestrun.out
sahi-core/classes/
sahi-core/deploy/
sahi-core/lib/
sahi-core/temp/
sahi-core/userdata/
!sahi-core/userdata/config
!sahi-core/userdata/bin
sahi-core/config/version.txt
sahi-core/docs/java_client/
temp

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

