table{border-top:1px solid gray;border-right:1px solid gray;border-spacing:0px}
td{border-bottom:1px solid gray;border-left:1px solid gray;padding:5px}
tr.FAILURE{background-color:red;color:white;}
tr.SUCCESS{background-color:green;color:white;}
a{color:white;}
