body{
	font-family:arial;
	font-size:12px;
}
h4{
	color:brown;
	text-decoration:underline;
}
pre{
	background-color:lightgreen;
	border:20px solid lightgreen;
}
p{
	padding-left: 10px;
}
.explain{
	background-color:lightgray;
	border:20px solid lightgray;
}
.subExplain{
	background-color:lightblue;
	border:20px solid lightblue;
}
b{
	font-family:arial;
	font-size:12px;
	color:black;
}
.code{
	padding-left:10px;
	color:darkblue;
}
td{
	font-family:arial;
	font-size:12px;
}